button {
  background-color: green;
  color: white;
  border: none;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
  transition: padding 0.2s, margin 0.2s;
}
button:hover {
  padding-left: 36px;
  padding-right: 36px;
  margin-left: 0px;
  margin-right: 0px;
}
